final_payload_mcp.json
{
  "id": "7ZSv1omradULzuzHTJXSt",
  "nodes": [
    {
      "id": "cc71ccb1-06c8-4e39-9d5d-f48fa9eb2cbe",
      "name": "Lovable_WebApp_Receiver",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "lovable-webhook",
        "responseMode": "responseNode"
      },
      "position": [
        256,
        720
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "24f01832-5d0b-4930-b628-567110ef0d04"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "9jRDzYWVguUSkoK9",
          "name": "Panaderia"
        }
      },
      "id": "60ee81d4-e432-4672-ab91-6dd53fb61ec6",
      "name": "Admin_Bot_Input",
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message"
        ]
      },
      "position": [
        256,
        1040
      ],
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "webhookId": "b92e4ad7-8829-4d65-b689-6e29da27031f"
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "YURvB1WNhqixYwcM",
          "name": "OpenAi account 2"
        }
      },
      "id": "52349575-c6ce-4c18-b3ad-96391e8c475d",
      "name": "Analyze image",
      "parameters": {
        "inputType": "base64",
        "modelId": {
          "__rl": true,
          "cachedResultName": "GPT-4O",
          "mode": "list",
          "value": "gpt-4o"
        },
        "operation": "analyze",
        "options": {},
        "resource": "image",
        "text": "ROL: Auditor Contable y Experto en Extracción de Datos Visionarios.\nOBJETIVO: Transcribir íntegramente la imagen adjunta a un formato JSON estructurado.\n\nINSTRUCCIONES DE EXTRACCIÓN:\nIDENTIDAD FISCAL: Extrae el Nombre Comercial, Razón Social y el CIF/NIF/VAT del emisor.\nCABECERA: Fecha de emisión, Número de factura o ticket, y moneda.\nDESGLOSE DE IMPORTES: Base Imponible, Cuotas de IVA detalladas por tipo, Importe TOTAL.\nCONTENIDO DINÁMICO: Crea un campo llamado conceptos_detallados donde listes cada producto o servicio.\nDATOS EXTRA: Si aparecen, extrae: Fecha de vencimiento, IBAN para el pago y Forma de pago.\n\nREGLAS DE ORO:\nSi un dato no existe, devuelve null.\nFormato de fecha siempre: YYYY-MM-DD.\nFormato de números: Usa siempre el punto . como separador decimal.\nRESPUESTA: Devuelve EXCLUSIVAMENTE el objeto JSON.\n\nESQUEMA REQUERIDO:\n{\"emisor\":{\"nombre\":\"\",\"cif\":\"\",\"direccion\":\"\"},\"documento\":{\"tipo\":\"FACTURA\",\"numero\":\"\",\"fecha\":\"\"},\"importes\":{\"base_imponible\":0.0,\"iva_total\":0.0,\"total_final\":0.0,\"moneda\":\"EUR\"},\"conceptos_detallados\":\"Lista de productos...\",\"metadatos\":{\"forma_pago\":\"\",\"vencimiento\":\"\",\"iban\":\"\"}}\n\nETIQUETADO OBLIGATORIO:\nFACTURA: si tiene numero de factura, desglose de IVA y datos fiscales del receptor.\nGASTOS_VARIOS: tickets de compra, gasolina, restauracion o facturas simplificadas sin datos del cliente.\nALBARAN: si indica Albaran, Nota de entrega, Resguardo.\n\nAdemás extrae un campo resumen_telegram con formato: PROVEEDOR | TOTAL EUR | FECHA | CONCEPTO CORTO",
        "prompt": "Analiza esta imagen y extrae la siguiente informacion en formato JSON estricto:\n\n1. **proveedor**: Nombre del emisor o 'Desconocido'.\n2. **cif_emisor**: CIF/NIF del emisor.\n3. **fecha**: Fecha de emision (YYYY-MM-DD).\n4. **numero_doc**: Numero de factura/ticket.\n5. **base_imponible**: Importe sin impuestos (numero).\n6. **iva_total**: Total de impuestos (numero).\n7. **total_final**: Importe total pagado (numero).\n8. **moneda**: Codigo de moneda (ej. EUR).\n9. **detalles**: Lista de productos o descripcion breve.\n10. **tabla_destino**: Clasifica el documento como 'FACTURAS' (si es factura o compra identificable), 'ALBARANES' (si es entrega sin precio o nota de envio), o 'GASTOS CAJA' (si es un gasto menor u otro).\n\nDevuelve UNICAMENTE el objeto JSON sin markdown extra ni texto.\n\n[INSTRUCCION CRITICA REQUERIDA POR EL DASHBOARD]: Si el documento contiene las palabras 'FACTURA', 'Factura', 'factura', 'FACTURA SIMPLIFICADA' o 'TICKET', el campo tabla_destino DEBE ser EXACTAMENTE: FACTURAS. Si es un albaran o nota de entrega, DEBE ser EXACTAMENTE: ALBARANES. Si es un gasto de caja miscelaneo que NO es factura ni ticket de compra para contabilidad general, DEBE ser: GASTOS CAJA. Usa estrictamente una de estas tres claves literales en MAYUSCULAS obligatoriamente, sin texto extra."
      },
      "position": [
        1056,
        864
      ],
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1
    },
    {
      "id": "if-has-photo",
      "name": "IF Tiene Foto?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "photo-check",
              "leftValue": "={{ $json.message.photo }}",
              "operator": {
                "operation": "notEmpty",
                "type": "array"
              }
            }
          ],
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        512,
        1040
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "9jRDzYWVguUSkoK9",
          "name": "Panaderia"
        }
      },
      "id": "63daa13b-a30d-46dc-827e-3f88ecd4a4ba",
      "name": "Get a file",
      "parameters": {
        "additionalFields": {},
        "fileId": "={{ $json.message.photo.reverse()[0].file_id }}",
        "resource": "file"
      },
      "position": [
        720,
        1040
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "87e87891-f5f6-4837-846a-ee16f4509629"
    },
    {
      "id": "fix-mime-type",
      "name": "Fix MIME Type",
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.binary.data.mimeType = 'image/jpeg';\n    item.binary.data.fileExtension = 'jpg';\n  }\n}\nreturn items;"
      },
      "position": [
        900,
        1040
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5fad48a9-e126-4913-9875-5d1f5e723c8d",
      "name": "Code in JavaScript1",
      "parameters": {
        "jsCode": "const rawInput = $input.first().json['0']?.content[0]?.text || \"\";\nconst match = rawInput.match(/\\{[\\s\\S]*\\}/);\nif (!match) {\n  return [{ json: { error: \"No se detecto JSON\", raw: rawInput.substring(0, 50) } }];\n}\nconst forceNumber = (val) => {\n  if (val === undefined || val === null || val === \"\") return 0;\n  let clean = String(val).replace(/[^0-9.,-]/g, '');\n  let parsed = parseFloat(clean.replace(',', '.'));\n  return isNaN(parsed) ? 0 : parsed;\n};\ntry {\n  let sanitized = match[0].replace(/\\\\n/g, \" \").replace(/\\s+/g, \" \").trim();\n  const data = JSON.parse(sanitized);\n  return [{\n    json: {\n      proveedor: data.emisor?.nombre || data.vendor || \"Desconocido\",\n      cif_emisor: data.emisor?.cif || data.cif || \"N/A\",\n      fecha: data.documento?.fecha || data.date || new Date().toISOString().split('T')[0],\n      numero_doc: data.documento?.numero || data.invoice_number || \"S/N\",\n      base_imponible: forceNumber(data.importes?.base_imponible || data.base_imponible),\n      iva_total: forceNumber(data.importes?.iva_total || data.iva),\n      total_final: forceNumber(data.importes?.total_final || data.total),\n      moneda: data.importes?.moneda || \"EUR\",\n      detalles: typeof(data.conceptos_detallados) === 'object' ? JSON.stringify(data.conceptos_detallados) : (data.conceptos_detallados || \"Sin detalle\"),\n      tabla_destino: String(data.documento?.tipo || \"GASTOS_VARIOS\").toUpperCase().trim(),\n      resumen_telegram: data.resumen_telegram || \"\"\n    }\n  }];\n} catch (e) {\n  return [{ json: { error: \"Error de parseo\", detalle: e.message } }];\n}"
      },
      "position": [
        1312,
        864
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": false,
      "id": "55f8e687-7d8e-4a33-9474-128b68a64200",
      "name": "Switch",
      "parameters": {
        "options": {
          "fallbackOutput": "extra"
        },
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.tabla_destino }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "FACTURA"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "FACTURA",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.tabla_destino }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "ALBARAN"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "ALBARAN",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.tabla_destino }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "GASTOS_VARIOS"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                }
              },
              "outputKey": "GASTOS_VARIOS",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        1584,
        864
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "AamgJ3iNAbWUKcVt",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "id": "7041a937-ab49-45b6-98bc-1cc4628456d5",
      "name": "FACTURAS",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "maquina panaderia ",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c",
          "mode": "list",
          "value": "app7VJr4iHt5v1r5c"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "PROVEDOR/ TITULO",
              "id": "PROVEDOR/ TITULO",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "CIF",
              "id": "CIF",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha",
              "id": "Fecha",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "NUMERO DE DOC",
              "id": "NUMERO DE DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "BASE IMPONIBLE",
              "id": "BASE IMPONIBLE",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "IVA",
              "id": "IVA",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "TOTAL",
              "id": "TOTAL",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "DETALLES DOC",
              "id": "DETALLES DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "MONEDA",
              "id": "MONEDA",
              "readOnly": true,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "BASE IMPONIBLE": "={{ $json.base_imponible }}",
            "CIF": "={{ $json.cif_emisor }}",
            "DETALLES DOC": "={{ $json.detalles }}",
            "Fecha": "={{ $json.fecha }}",
            "IVA": "={{ $json.iva_total }}",
            "NUMERO DE DOC": "={{ $json.numero_doc }}",
            "PROVEDOR/ TITULO": "={{ $json.proveedor }}",
            "TOTAL": "={{ $json.total_final }}"
          }
        },
        "operation": "create",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "FACTURAS",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c/tblLC7oMOUQtRWkn7",
          "mode": "list",
          "value": "tblLC7oMOUQtRWkn7"
        }
      },
      "position": [
        1968,
        688
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "AamgJ3iNAbWUKcVt",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "id": "30694b8e-75b5-4c44-8e65-8d771b375f5b",
      "name": "ALBARANES",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "maquina panaderia ",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c",
          "mode": "list",
          "value": "app7VJr4iHt5v1r5c"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "PROVEDOR/ TITULO",
              "id": "PROVEDOR/ TITULO",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "CIF",
              "id": "CIF",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha",
              "id": "Fecha",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "NUMERO DE DOC",
              "id": "NUMERO DE DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "BASE IMPONIBLE",
              "id": "BASE IMPONIBLE",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "IVA",
              "id": "IVA",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "TOTAL",
              "id": "TOTAL",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "DETALLES DOC",
              "id": "DETALLES DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "MONEDA",
              "id": "MONEDA",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "BASE IMPONIBLE": "={{ $json.base_imponible }}",
            "CIF": "={{ $json.cif_emisor }}",
            "DETALLES DOC": "={{ $json.detalles }}",
            "Fecha": "={{ $json.fecha }}",
            "IVA": "={{ $json.iva_total }}",
            "MONEDA": "={{ $json.moneda }}",
            "NUMERO DE DOC": "={{ $json.numero_doc }}",
            "PROVEDOR/ TITULO": "={{ $json.proveedor }}",
            "TOTAL": "={{ $json.total_final }}"
          }
        },
        "operation": "create",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "ALBARANES",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c/tblX9EQUmwItNJCZI",
          "mode": "list",
          "value": "tblX9EQUmwItNJCZI"
        }
      },
      "position": [
        1968,
        864
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "credentials": {
        "airtableTokenApi": {
          "id": "AamgJ3iNAbWUKcVt",
          "name": "Airtable Personal Access Token account 2"
        }
      },
      "id": "8118a54c-2575-49e9-af8c-cc9ad7d91d50",
      "name": "GASTOS CAJA",
      "parameters": {
        "base": {
          "__rl": true,
          "cachedResultName": "maquina panaderia ",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c",
          "mode": "list",
          "value": "app7VJr4iHt5v1r5c"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "PROVEDOR/ TITULO",
              "id": "PROVEDOR/ TITULO",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "CIF",
              "id": "CIF",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Fecha",
              "id": "Fecha",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "NUMERO DE DOC",
              "id": "NUMERO DE DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "BASE IMPONIBLE",
              "id": "BASE IMPONIBLE",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "IVA",
              "id": "IVA",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "TOTAL",
              "id": "TOTAL",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "DETALLES DOC",
              "id": "DETALLES DOC",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "MONEDA",
              "id": "MONEDA",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "BASE IMPONIBLE": "={{ $json.base_imponible }}",
            "CIF": "={{ $json.cif_emisor }}",
            "DETALLES DOC": "={{ $json.detalles }}",
            "Fecha": "={{ $json.fecha }}",
            "IVA": "={{ $json.iva_total }}",
            "MONEDA": "={{ $json.moneda }}",
            "NUMERO DE DOC": "={{ $json.numero_doc }}",
            "PROVEDOR/ TITULO": "={{ $json.proveedor }}",
            "TOTAL": "={{ $json.total_final }}"
          }
        },
        "operation": "create",
        "options": {
          "typecast": true
        },
        "table": {
          "__rl": true,
          "cachedResultName": "GASTOS_VARIOS",
          "cachedResultUrl": "https://airtable.com/app7VJr4iHt5v1r5c/tblHzVIPEde7zWnUv",
          "mode": "list",
          "value": "tblHzVIPEde7zWnUv"
        }
      },
      "position": [
        1968,
        1040
      ],
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1
    },
    {
      "id": "respond-webhook-1",
      "name": "Responder Webhook",
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        },
        "respondWith": "firstIncomingItem"
      },
      "position": [
        2200,
        864
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "9jRDzYWVguUSkoK9",
          "name": "Panaderia"
        }
      },
      "id": "417d7707-db67-4931-9066-03412f584bba",
      "name": "ERROR MENSAJE TELEGRAM",
      "parameters": {
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "chatId": "<__PLACEHOLDER_VALUE__developer_chat_id__>",
        "operation": "sendMessage",
        "text": "=🚨 *Error en el Workflow*\n\n*Workflow:* {{ $workflow.name }}\n*Execution ID:* {{ $execution.id }}\n*Hora:* {{ $now.toISO() }}"
      },
      "position": [
        960,
        1240
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "webhookId": "119b5b9b-a00d-4d8b-bd54-8906e13885b1"
    },
    {
      "id": "d1a7ad1f-a0a0-46b6-87bf-e08f0334bd97",
      "name": "Wait",
      "parameters": {},
      "position": [
        784,
        1240
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "2dd9fbff-bdc0-47ee-99b1-18f87c58eb32"
    }
  ],
  "connections": {
    "ALBARANES": {
      "main": [
        [
          {
            "index": 0,
            "node": "Responder Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Admin_Bot_Input": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Tiene Foto?",
            "type": "main"
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript1",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Switch",
            "type": "main"
          }
        ]
      ]
    },
    "FACTURAS": {
      "main": [
        [
          {
            "index": 0,
            "node": "Responder Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Fix MIME Type": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze image",
            "type": "main"
          }
        ]
      ]
    },
    "GASTOS CAJA": {
      "main": [
        [
          {
            "index": 0,
            "node": "Responder Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fix MIME Type",
            "type": "main"
          }
        ]
      ]
    },
    "IF Tiene Foto?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get a file",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Lovable_WebApp_Receiver": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze image",
            "type": "main"
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "index": 0,
            "node": "FACTURAS",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "ALBARANES",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "GASTOS CAJA",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "ERROR MENSAJE TELEGRAM",
            "type": "main"
          }
        ]
      ]
    }
  }
}